body {
  color: #222;
  cursor: auto;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-style: normal;
  font-weight: normal;
  margin: 0px;
}

header {
  height: 100px;
  position: relative;
  top: 0;
  width: 100%;
  transition: 0.1s;
  background-color: #fff;
  display: block;
}

.container-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.logo {
  display: flex;
  gap: 30px;
  font-size: 0;
  width: 171.62px;
  height: 30px;
}

.menu-navigation {
  display: flex;
  gap: 30px;
  align-items: center;
}

a {
  text-decoration: none;
}

.nav-items {
  color: #2b0808;
  font-size: 16px;
  font-weight: 600;
  line-height: 20.16px;
  align-items: center;
  margin-bottom: 0;
  font-family: "Sora";
  cursor: pointer;
}

.valores {
  max-width: 1300px;
  display: flex;
  gap: 10px;
  padding: 100px 120px;
  text-align: center;
  justify-content: space-between;
  background: linear-gradient(90deg, #EEEAFB, #F8F6FD, #EDFAFD, #D0F2FA);
}

.item {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  padding: 0px 20px;
  align-items: center;
}

.imagem {
  width: 100%;
  max-height: 50px;
  height: 50px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
}

.titulo-valores {
  margin: 0px;
  font-size: 22px;
}

.descricao-valores {
  margin: 0px;
}

.informacoes {
  display: flex;
  text-align: center;
  gap: 20px;
  padding: 100px 120px;
  max-width: 1300px;
  word-break: break-word;
}

.div-infos {
  display: flex;
  flex-direction: column;
  row-gap: 40px;
}

.h1-infos {
  font-size: 48px;
  margin: 0px;
}

.p-infos {
  font-size: 16px;
  margin: 0px;
}